Node-RED flow.json
[{"id":"c25932c9.b0a0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a63c7c6d.bed75","type":"mqtt in","z":"c25932c9.b0a0c","name":"X-axis","topic":"cc/xaxis","qos":"0","datatype":"auto","broker":"a1147bd.50e2888","x":150,"y":100,"wires":[["f4b20461.6fc188"]],"outputLabels":["X-axis"]},{"id":"f4b20461.6fc188","type":"json","z":"c25932c9.b0a0c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":100,"wires":[["133afd0c.a010c3","e56b9344.36efd"]]},{"id":"7ac472e8.a1c45c","type":"mqtt in","z":"c25932c9.b0a0c","name":"Y-axis","topic":"cc/yaxis","qos":"0","datatype":"auto","broker":"a1147bd.50e2888","x":150,"y":160,"wires":[["c7f46995.2c6f28"]]},{"id":"c7f46995.2c6f28","type":"json","z":"c25932c9.b0a0c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":160,"wires":[["133afd0c.a010c3","e4364f9c.a049f"]]},{"id":"5b9ad978.4e3388","type":"mqtt in","z":"c25932c9.b0a0c","name":"Z-axis","topic":"cc/zaxis","qos":"0","datatype":"auto","broker":"a1147bd.50e2888","x":150,"y":220,"wires":[["e4b39a11.5f1848"]]},{"id":"e4b39a11.5f1848","type":"json","z":"c25932c9.b0a0c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["133afd0c.a010c3","e3bc8ecd.2e6d2"]]},{"id":"133afd0c.a010c3","type":"ui_chart","z":"c25932c9.b0a0c","name":"","group":"700e33ae.24704c","order":5,"width":"16","height":"5","label":"3D-Acceleration","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-90","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#f03354","#59ed3f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":660,"y":40,"wires":[[],[]]},{"id":"e56b9344.36efd","type":"ui_gauge","z":"c25932c9.b0a0c","name":"X-axis","group":"700e33ae.24704c","order":1,"width":"5","height":"4","gtype":"gage","title":"X-axis","label":"degrees","format":"{{value}}","min":"-90","max":"90","colors":["#ff1717","#00ff00","#5724dd"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"e4364f9c.a049f","type":"ui_gauge","z":"c25932c9.b0a0c","name":"Y-axis","group":"700e33ae.24704c","order":2,"width":"5","height":"4","gtype":"gage","title":"Y-axis","label":"degrees","format":"{{value}}","min":"-90","max":"90","colors":["#ff0000","#00ff00","#0080ff"],"seg1":"","seg2":"","x":630,"y":300,"wires":[]},{"id":"e3bc8ecd.2e6d2","type":"ui_gauge","z":"c25932c9.b0a0c","name":"Z-axis","group":"700e33ae.24704c","order":3,"width":"5","height":"4","gtype":"gage","title":"Z-axis","label":"degrees","format":"{{value}}","min":"-90","max":"90","colors":["#ff0000","#80ff00","#132fee"],"seg1":"","seg2":"","x":630,"y":360,"wires":[]},{"id":"8b1490d.433687","type":"mqtt in","z":"c25932c9.b0a0c","name":"Temprature","topic":"cc/temprature","qos":"0","datatype":"auto","broker":"a1147bd.50e2888","x":170,"y":440,"wires":[["8398c77c.5f56e8","e98ac4ab.4b63d8"]]},{"id":"8398c77c.5f56e8","type":"ui_text","z":"c25932c9.b0a0c","group":"700e33ae.24704c","order":4,"width":"2","height":"1","name":"","label":"Temprature:","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":360,"wires":[]},{"id":"e98ac4ab.4b63d8","type":"json","z":"c25932c9.b0a0c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":500,"wires":[["8ba6ace1.dcf51","58dde0bb.aec8c"]]},{"id":"58dde0bb.aec8c","type":"influxdb out","z":"c25932c9.b0a0c","influxdb":"ae9ba8f1.bf0f28","name":"","measurement":"temp","precision":"","retentionPolicy":"","x":700,"y":500,"wires":[]},{"id":"8ba6ace1.dcf51","type":"debug","z":"c25932c9.b0a0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":620,"wires":[]},{"id":"53dc08ef.522028","type":"mqtt in","z":"c25932c9.b0a0c","name":"","topic":"cc/temprature","qos":"0","datatype":"auto","broker":"a1147bd.50e2888","x":180,"y":300,"wires":[["31a7c669.c6d5ca"]]},{"id":"31a7c669.c6d5ca","type":"debug","z":"c25932c9.b0a0c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":300,"wires":[]},{"id":"a1147bd.50e2888","type":"mqtt-broker","z":"","name":"Mqtt","broker":"localhost ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"700e33ae.24704c","type":"ui_group","z":"","name":"Accelerometer Data","tab":"2d0c9054.62679","disp":true,"width":"16","collapse":false},{"id":"ae9ba8f1.bf0f28","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testdb","name":"","usetls":false,"tls":""},{"id":"2d0c9054.62679","type":"ui_tab","z":"","name":"CC3200 LAUNCHPAD","icon":"dashboard","disabled":false,"hidden":false}]